/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.mylyn.tasks.ui.prefs
/bin/es/main/common/CommonUtils.class
/bin/es/main/common/DateIterator.class
/bin/es/main/exception/DataErrorException.class
/bin/es/main/logger/Logger.class
/bin/es/main/ShiftPlanner.class
/bin/es/shiftplanner/configuration/Configuration.class
/bin/es/shiftplanner/data/AbstractcDayWork.class
/bin/es/shiftplanner/data/DayWork.class
/bin/es/shiftplanner/data/DayWorkComparator.class
/bin/es/shiftplanner/data/DayWorkTemplate.class
/bin/es/shiftplanner/data/Job.class
/bin/es/shiftplanner/data/Shift.class
/bin/es/shiftplanner/data/ShiftTable.class
/bin/es/shiftplanner/interfaces/IDataStructure.class
/bin/es/shiftplanner/loader/FileExporter.class
/bin/es/shiftplanner/loader/FileLoader.class
/bin/module-info.class
